$item-bg: rgb(109, 255,255);
$item-color: rgb(0, 153, 255);
$bg: rgb(30,223,236);
$bg-gradient: linear-gradient(150deg, rgba(30,223,236,1), rgba(142,238,165,1)) no-repeat;
$create-bg: rgb(144, 238, 144);

.title {
    text-align: center;
    color: $item-color;
    background-color: $item-bg;
    width: 30%;
    margin: 0 auto;
    border-radius: 1em;
    text-transform: uppercase;
}

.active-board {
    background: $bg;
    background: $bg-gradient;
    height: calc(100vh - 1em);
    padding-top: 1em;
    &__cols {
        display: flex;
        flex-wrap: wrap;
        width: 90vw;
        margin: 0 auto;
        &__item {
            position: relative;
            background-color: $item-bg;
            color: $item-color;
            border-radius: 0.1rem;
            margin: 0.5em;
            text-align: center;
            padding: 0.5em 0.2em 0.2em;
            transition: all 0.5s ease-out;
            &__title {
                text-transform: uppercase;
                padding: 0.3em;
            }
            &__cards {
                margin-top: 0.5em;
                list-style-type: none;
                li {
                    position: relative;
                    background-color: $item-color;
                    color: $item-bg;
                    margin: 0.1em 0;
                }
                button {
                    background-color: $item-color;
                }
            }
            &:hover .btn-delete{
                z-index: 1;
                opacity: 1;
            }
        }
    }
    &__form-create {
        transition: all 0.25s ease-out;
        &__input-text {
            opacity: 0;
        }
    }
}

.form {
    &--show {
        z-index: 1;
        opacity: 1;
        transform: scale(1);
    }
    &--hide {
        z-index: -1;
        opacity: 0;
        transform: scale(0.7);
    }
}

.show {
    display: block;
}

.hide {
    display: none;
}

.btn {
    &__input {
        font-size: 1rem;
    }
    &-delete {
        position: absolute;
        z-index: -1;
        opacity: 0;
        right: 0.2em;
        top: 0;
        border: none;
        background-color: $item-bg;
        font-size: 0.8rem;
        transition: all 0.25s ease-out;
    }
    &-create {
        &--card {
            background-color: royalblue;
            height: 2em;
            padding: 0.5em;
            &__text {
                line-height: 2em;
                vertical-align: middle;
                color: white;
            }
            cursor: pointer;
        }
        &--column {
            border: none;
            border-radius: 5px;
            background-color: $create-bg;
            height: 2.3em;
            text-transform: uppercase;
            padding: 0.3em;
            &__text {
                color: darkgreen;
                vertical-align: middle;
                line-height: 2.3em;
                font-size: 1rem;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
}
    